{% extends 'base.html.twig' %}
{% block dynamique %}
   <center>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
    <h3 style="color: red  ;font-family: 'Rock Salt', cursive ;font-style: italic;  color: #666 ; letter-spacing: 1px ; caption-side: bottom ; padding: 20px ; text-shadow: 1px 1px 1px black ">Order passed successfully !</h3>
       <br>
       <img alt="gproduit" src="{{ asset('images/tenor.gif')  }}"  height="200px" width="250px" align="center">
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>

    </center>
{% endblock %}