{% extends 'template.html.twig' %}
{% block dynamique %}
    <div class="createForm"style=" margin-top:-20px;margin-left:250px;width:60%">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Edit User !</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(edit_form) }}
                {% form_theme edit_form 'bootstrap_4_layout.html.twig' %}
                {{ form_widget(edit_form) }}
                <a><button type="submit" value="Edit" class="btn btn-warning" style="margin-left:72%;width: 30%">Edit</button></a>
                <a href="{{ path('user_index') }}"><button type="button" class="btn btn-info"style="margin-left:280px;width: 30%;margin-top:-65px">Cancel</button></a>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}
